*,
html,
body {
  margin: 0;
  padding: 0;
}
/* NAV */
.container {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
}

nav {
  margin-top: 8px;
}

.container-nav {
  display: flex;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 20px;
}

.title {
  justify-self: center;
  font-family: system-ui;
  font-weight: 900;
  font-size: 50px;
}

.container-nav a {
  border: 1px solid gray;
  color: black;
  font-family: system-ui;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.container-nav a:hover {
  background-color: #5c5c5c;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/* NAV END */

/* IMAGE AND FORM CONTENT */
.content {
  background-color: whitesmoke;
  text-align: center;
  padding: 12px;
}

.content h1 {
  margin-left: -119px;
  font-size: 50px;
  font-family: system-ui;
  text-align: center;
}

.content p {
  font-size: 20px;
  font-family: system-ui;
  margin-right: 234px;
}

.slideshow-container {
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.slides {
  background-color: whitesmoke;
  display: flex;
  transition: transform 1s ease-in-out;
  justify-content: space-between;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides img {
  display: none;
}

.slides img.active {
  display: block;
}

.text {
  padding-left: 120px;
  background-color: whitesmoke;
  text-align: left;
  justify-content: flex-start;
  font-style: italic;
  font-family: system-ui;
}

.form-container {
  height: auto;
  width: auto;
  margin-right: 90px;
  font-family: system-ui;
}

.form-container,
h2,
input,
p,
select,
button {
  margin-left: 130px;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
}

select {
  width: 300px;
  height: 40px;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
}

.btn {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  font-family: system-ui;
  font-weight: 800;
}

.btn:hover {
  background-color: #5c5c5c;
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
/* IMAGE AND FORM CONTENT END */

/* FEATURE AND PACKAGE CONTENT */
.feature {
  background-color: whitesmoke;
  font-family: system-ui;
}

.adds img {
  display: flex;
  flex-direction: column;
  float: right;
  border-radius: 20px;
  width: 861px;
  height: 1064px;
}

.our-package {
  background-color: rgb(204, 201, 201);
  width: 100%;
  height: 130px;
  padding-top: 50px;
  font-size: 27px;
  text-align: center;
  font-family: system-ui;
}

.destination {
  display: flex;
  gap: 10px;
  background-color: whitesmoke;
  font-family: system-ui;
}

.asia {
  width: 25%;
  height: 25%;
  margin-left: 19px;
}

.part1 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 20px;
}

.part2 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 20px;
}

.part3 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 20px;
}

.part4 {
  font-family: system-ui;
  font-weight: 400;
  font-size: 20px;
}

.eropa {
  width: 25%;
  height: 25%;
}

.afrika {
  width: 25%;
  height: 25%;
}

.amerika {
  width: 25%;
  height: 25%;
  margin-right: 19px;
}

.asia-description > p {
  margin-left: 0px;
}

.eropa-description > p {
  margin-left: -1px;
}

.afrika-description > p {
  margin-left: 0;
}

.amerika-description > p {
  margin-left: 0;
}
/* FEATURE AND PACKAGE CONTENT END */

/* CONTACT CONTENT */
.call-us {
  background-color: rgb(204, 201, 201);
  width: 100%;
  height: 130px;
  padding-top: 50px;
  font-size: 27px;
  text-align: center;
  font-family: system-ui;
}

.contact {
  text-align: center;
  background-color: whitesmoke;
  font-family: system-ui;
}

.li-style {
  display: inline-flex;
}

.number {
  display: flex;
  justify-content: center;
  background-color: rgb(204, 201, 201);
  font-family: system-ui;
}
.phone {
  width: 100%;
  height: 80px;
  padding-left: 15%;
  padding-top: 50px;
}

.email {
  width: 100%;
  height: 80px;
  padding-top: 50px;
}

.addres {
  width: 100%;
  height: 80px;
  padding-top: 50px;
}

.credit {
  text-align: center;
  font-family: system-ui;
  background-color: rgb(204, 201, 201);
}
/* CONTACT CONTENT END */
